<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDguYl3gMetN4_NbCj2cfXU0in_-ptW8nc</string>
	<key>GCM_SENDER_ID</key>
	<string>288025070224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.uploadvideo</string>
	<key>PROJECT_ID</key>
	<string>upload-video-d4a59</string>
	<key>STORAGE_BUCKET</key>
	<string>upload-video-d4a59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288025070224:ios:40f50b9bd1f1893217a615</string>
</dict>
</plist>